POSTGRES_HOST=ad_postgres_host
POSTGRES_HOST_DEBUG=localhost
POSTGRES_DB_NAME=postgres
POSTGRES_USERNAME=username
POSTGRES_PASSWORD=password
POSTGRES_PORT=5690
POSTGRES_CONN_MAX_AGE=0

REDIS_HOST=redis_ad_host
REDIS_HOST_DEBUG=localhost
REDIS_PASSWORD=redis_ad_password
REDIS_PORT=6756

CELERY_PREFETCH_MULTIPLIER=2